*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --primary: linear-gradient(90deg, #C68F3A 3.65%, #9E6000 100%);
    --primarySolid:#C68F3A;
    --background: #ffffff;
    --shadow:8px 8px 24px rgba(0, 0, 0, 0.25);
    --shadowMild:8px 8px 24px rgba(0, 0, 0, 0.1);
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: DM;
    src: url(fonts/DMSerifDisplay-Regular.ttf);
}
.slideupAnimation{
    animation: slideUp 750ms ease-in-out;
}

body{
    /* animation:fadeIn 600s ease-in; */
    font-family: 'Poppins', sans-serif;    
    background: var(--background);
    overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f4f4f4; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var( --primarySolid); 
    border-radius: 108px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #9E6000; 
    cursor: url('https://apnbjdtser.cloudimg.io/hunar.design/assets/pointer.svg'), auto;
  }
::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--primary);
}
  
::selection {
    color: white;
    background: var(--primarySolid);
}

.heroSection{
    transition: 600ms ease-in;

    background: url("/assets/HeroImage.webp");
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    
}

.heroContent{
    animation: slideUp 600ms ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;
    padding: 4vw;
    
}


.ilmaLogoLarge{
    width: 10vw;
}

.IlmaFullform{
    color: #ffffff;
    width: 40vw;
    text-align: center;
    font-family: DM;
    font-size: 3.25vw ;
    /* outline: 1px solid white; */

}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.subSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100vw;
    padding: 3vw 0vw;
    /* outline: 10px solid black; */
    
}

.sectionTitle{
    font-size: 2vw;
    font-family: DM;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


span{
    font-family: DM;    
}



.applicationContainer{
    display: flex;
    justify-content: center;   
    gap :2vw;
    width: 80vw;
    /* outline: solid black; */
}
.applicationCard{
    cursor: pointer;
    overflow: hidden;
    width: 50vw;
    outline: 1px solid rgba(0, 0, 0, 0.1);
}

.applicationImageContainer{
    overflow: clip;
    height: 25vh;
    width: 20vw;
}
.applicationImage{
    height: 14vw;
    transition: 300ms ease-in;
    filter: saturate(0.7);
}
.applicationCard:hover .applicationImage{
    transform: scale(1.1);
    filter: saturate(1.2);

}
.applicationCard:hover{
    box-shadow: var(--shadowMild);
    outline: none;

}
.applicationContent{
    padding:4%  4% ;
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}
.learnMore{
    font-size: 0.8vw;
    display: flex;
}
.applicationTitle{
    font-family: DM;
    font-size: 1.5vw;
}
.applicationText{
    font-size: 0.8vw;
}
.arrowRight{
    transition: 300ms ease-in;
    padding-left: 0.25vw;

}
.applicationCard:hover .arrowRight{
    padding-left: 0.5vw;
}
.newsletterContainer{
    width: 100vw;
    background: #000000;
    color:White;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    gap: 1vw;

}

.NewsletterTitle{
    padding: 0%;
}
.sectionText{
    width: 30vw;
    text-align: center;
    font-size: 0.8vw;
}
form{
    display: flex;
    gap: 1vw;

}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
      margin: 0;
}
input[type="email" i],input[type="text" i],input[type="number" i] {
    background-color: rgba(255, 255, 255, 0.25);
    width: 25vw;
    height: 2.8vw;
    text-align: center;
    border: none;
    font-size: 1vw;
    padding: 2%;
   
}
textarea {
    
    background-color: rgba(255, 255, 255, 0.25);
    width: 25vw;
    height: 8vw;
    text-align: center;
    border: none;
    font-size: 1vw;
    padding: 2%;
}
input[type="email" i]{
    color: white;
}
.sendMail{
    width: 10vw;
}
.sendMail,.subscribeButton{
    font-size: 1vw;
    cursor: pointer;
    padding: 2% 6%;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: var(--primary);
    border: none;
}
.bottomGoldLine{
    padding: 0.5vw;
    width: 4vw;
}
.carousel-control.right,.carousel-control.left{
    background: none !important;
}
.carousel-indicators .active{
    background:var(--primarySolid);
}

.carousel-indicators li{
    border: none;
    background: white;
}
.testimonialContainer{
    
    width: 100vw;
    background: url("/assets/testimonialsBg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.item{

    padding: 5vw;
}
.testimonialsCard{
    display: flex;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.25); */
}

.testimonailProfile{
    display: flex;
    flex-direction: column;
    padding: 1vw;    
    /* outline: 1px solid white; */
}
.testimonialPhotoContainer{
    width: 12vw;
    height: 12vw;
    overflow: clip;
    border-radius: 50%;
}
.testimonialsCard:hover .testimonialPhoto{
    
    transform: scale(1.1);

}
.testimonialPhoto{
    transition: 300ms ease-in;
    width: 12vw;
    height: 12vw;
    
}
.testimonialNameNCompany{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testmonialName{
    color:white;
    font-size: 1vw;
}
.testimonialCompany,.testimonialTextSub{
    font-size: 0.8vw;
    color: rgba(255, 255, 255, 0.6);
}
.testimonialText{
    padding: 1vw;    
    display: flex;
    flex-direction: column;
    text-align: justify;

}

.testimonialTextTitle{
    font-size: 1vw;
    color: white;
}

.swal-button{
    background-color: #C68F3A;
  }
.swal-button:not([disabled]):hover{
background-color: #9E6000;
}

.personContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:3vw;
    justify-items: end;


}
.person{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: end;
    padding: 1vw;
    height: 20vw;
    width: 15vw;
    /* border:1px solid; */
}
.person:hover{
    box-shadow: var(--shadowMild);
}
.personName{
    font-size: 1.1vw;
    color: white;
}
.personPosition{
    font-size: 0.8vw;
    color: rgba(255, 255, 255, 0.8);
}
.VikasAgarwal{
    background: url("assets/Vikas\ Agarwal.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.KrupeshThakkar{
    background: url("assets/Krupesh\ Thakkar.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.SurinderPalArora{
    background: url("assets/Surinder\ Pal\ Arora.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.AmritPatel{
    background: url("assets/Amrit\ Patel.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.AjayJain{
    background: url("assets/Ajay\ Jain.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.JagdishAhuja{
    background: url("assets/Jagdish\ Ahuja.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.AtulPatel{
    background: url("assets/Atul\ Patel.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.BijayDokania{
    background: url("assets/Bijay\ Dokania.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.JituNandu{
    background: url("assets/Jitu\ Nandu.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.MaheshSavalia{
    background: url("assets/Mahesh\ Savalia.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.RKVyas{
    background: url("assets/R\ K\ Vyas.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.KhusbooModi{
    background: url("assets/Khusboo\ Modi.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.missionContainer{
    display: flex;
    gap: 4vw;
}

.missionObjectiveCard{
    display: flex;
    gap: 1vw;
    box-shadow: var(--shadowMild);
}
.missionObjectiveTitle{
    font-size: 1.8vw;
    font-family: DM;
}
.missionObjectiveContainer{
    padding: 1vw;
    gap: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.missionObjectiveSub{
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8vw;
    width: 25vw;
}
.objectiveContainer{
    display: grid;
    grid-template-columns: auto auto;
    gap: 4vw;
}
.eventCard{
    color: white;
    display: flex;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}
.sixthSept22{
    padding: 4vw;
    height: 75vh;
    width: 100vw;
    background-size: contain;
    background: url(../assets/sixthSept22.webp);
}
.eventCardTitle{
    font-size: 3.5vw;
    font-weight: 600;
    line-height: 80%;

}
.eventCardTitle2{
    font-size: 2vw;   
}
.eventCardDate{
    font-size: 1vw;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 550px) {
    .heroSection{
        height: 50vh;
        background-size: cover;
        background-position: right;

    }
    .ilmaLogoLarge{
        width: 25vw;
    }
    .IlmaFullform{
        font-size: 5.8vw;
        width: 80vw;
    }
    .sectionTitle{
        font-size: 6vw;
        padding: 5vw;

    }
    .bottomGoldLine{
        width: 12vw;
    }
    
    .applicationContainer{
        flex-direction: column;
        width: 80vw;
        gap: 5vw;
    }
    .applicationCard{
        width: 80vw;
    }
    .applicationContent{
        gap: 4vw;
    }
    .applicationImageContainer{
        height: 25vh;
        width: 80vw;
    }
    .applicationImage{
        height: 80vw;
        width: 80vw;
        
    }
    .applicationTitle{
        font-size: 6vw;
    }
    .applicationText{
        font-size: 4vw;
    }
    .learnMore{
        font-size: 4vw;
    }
    .arrowRight{
        padding-left: 2vw !important;
    }
    .testimonialContainer{
        height:60vh;
    }
    .testimonialsCard{
        flex-direction: column-reverse;
        align-items: start;
    }
    .testimonailProfile{
        padding: 5vw 0vw ;    
        flex-direction: row;
        align-items: center;
        gap: 5vw;
    }
    .testimonialPhotoContainer{
        width: 18vw;
        height: 18vw;
        /* outline: 1px dashed white; */
        
    }
    .testimonialPhoto{
        width: 18vw;
        height: 18vw;
    }
    .testmonialName{
        font-size: 4vw;
    }
    .testimonialCompany,.testimonialTextSub{
        font-size: 4vw;
    }
    .testimonialNameNCompany{
        align-items: start;
    }
    .testimonialTextTitle{
        font-size: 5vw;
    }
    .testimonialText{
        width: 85vw; 
    }
    .left,.right{
        display: none;
    }
    .sectionText{
        font-size: 4vw;
        width: 80vw;
        text-align: justify;
    }
    .NewsletterTitle{
        padding: 0vw;
    }
    input[type="email" i],input[type="text" i],input[type="number" i] {
        width: 80vw;
        height: 12vw;
        font-size: 4vw;
        padding: 2%;
       
    }
    textarea {
        width: 80vw;
        height: 40vw;
        font-size: 4vw;
        padding: 2%;
    }
   form{
        display: flex;
        flex-direction: column;
        gap: 4vw;

   }
    .sendMail{
        width: 80vw;
    }
    .sendMail,.subscribeButton{
        font-size: 4vw;
        cursor: pointer;
        padding: 2% 6%;
        font-family: 'Poppins', sans-serif;
        color: white;
        background: var(--primary);
        border: none;
    }
    .newsletterContainer{
        gap: 4vw;
    }
}